# Visual Studio
.vs/
bin/
obj/

# Arquivos de usuário
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Configurações locais
appsettings.Development.json

# Rider
.idea/

# VS Code
.vscode/

# Variáveis de ambiente
.env
.env.*
!.env.example